.inventory-layout {
    padding: 1rem;
}

.log-column {
    border-left: 1px solid;
    flex-grow: 1;
    height: 100vh;
    padding: 1rem;
    overflow: auto;
}

.button-row {
    display: flex;
    flex-direction: row;
    margin: 1rem 0 1rem 0;
}

.item-form {
    margin-top: 1rem;
}

.item-form-field {
    margin-top: 0.5rem;
}

.item-form-input {
    border: 0;
    background: transparent;
    font-family: monospace;
}

.items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: monospace;
    gap: 0.5rem
}

.item {
    display: flex;
    border: 1px solid;
    padding: 1rem;
    flex-direction: column;
}